             <a href="#"><strong><i class="glyphicon glyphicon-film"></i> Combat <% if( typeof gameName != 'undefined' && gameName != '') { %> in <%=gameName %> <% } %></strong></a>
                <hr>
                    <div class="panel-heading">
                        <h4>Characters</h4>
                    </div>

                    <span  class="text-danger"><%=errorMessage %></span>

                    <div class="panel-body">
<%  var r = ['zero','one', 'two', 'three','four'];
	for ( var c = 1 ; c <= 4 ; c++ ) { %>
                        <small>Competitor <%=r[c]%></small>
                        <div class="panel">
                        <div class="col-sm-4">
                            Type: <select name="character-type-<%=c%>" class="form-control" >
                                    <option value="warrior">Warrior</option>
                                    <option value="wizard">Wizard</option>
                                    <option value="Priest">Priest</option>
                                    <option value="Thief">Thief</option>
                                </select>
                         </div>       
                        <div class="col-sm-4">
                            <div data-placement="top" title="The attack value of a troop is how strong it is, if a competitor's attack value is strong than it's adjacent enemy, you win that battle.">Attack:</div> <input name="character-attack-<%=c%>" class="form-control" style="width:50%" type="number" min="1" max="99" value="1"/>
                         </div>       
                        <div class="col-sm-4">
                            <div data-placement="top" title="The value is the amount a character is worth and how many points are given/recieve after defeating their adjacent enemy in attack points.">Value: </div> <input name="character-value-<%=c%>" class="form-control" style="width:50%" type="number" min="1" max="49" value="1"/>
                         </div>       
                        </div>
<% } %>


                        <!--/panel-body-->
                    </div>
   